h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    font-size: 60px;
    background-color: rgb(120, 30, 60);
    color: #FAFFFA;
    text-align: center;
}

h2 {
    font-size: 40px;
}

p {
    font-family: "Crimson Text", sans-serif;
}