body {
    font-family: "Crimson Text", "Times New Roman", sans-serif;
    background-color: #F2FFFC;
    /* font-size: 120%; */
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main {
    line-height: 1.5;
}

main h1 {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid black;
}

main a {
    color: #851944;
}

p {
    text-align: justify;
}

blockquote {
    background: #D9E5E3;
    padding: 20px;
    border: 10px #C2CCCA solid;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}

aside {
    background: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #F2FFFC;
}

footer {
    background: black;
    color: #F2FFFC;
    padding: 20px;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

div {
    width: 720px;
    margin: auto;
}

ul {
    list-style-type: none;
}

body {
    line-height: 1.5;
}